/* Global*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
.container {
    width: 100%;
    margin: auto; 
}
/*Variables
Using css variabls, we use double dash to create the variable name and apply the valaue after the colon. Then we apply var() with the variable name inside the parenthesis var(--animation-curve)*/
:root {
    --animation-curve: cubic-bezier(1,0,0,1);
    /* cubic-bezier(1,0,0,1): A cubic Bézier curve is defined by four points P0, P1, P2, and P3. P0 and P3 are the start and the end of the curve and, in CSS these points are fixed as the coordinates are ratios (the abscissa the ratio of time, the ordinate the ratio of the output range). P0 is (0, 0) and represents the initial time and the initial state, P3 is (1, 1) and represents the final time and the final state.*/
}

/*Variables end*/

/* Top navigation bar*/
.top-nav-content li {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    padding: 15px 10px 15px 30px;
    color: #ffffff;
    font-size: 0.8em;
    font-family: sans-serif;
}
.top-nav {
    background-color: #1e1130;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.top-nav a {
    text-decoration: none;
    color: #ffffff;
}
/* .can, .can-flag, .can-word {
    transition: ;
} */
.can {
    float: right;
    position: relative;
    
    /* left: 15em;  when toggle box disapears*/
    font-size: 0.8em;
    /* padding: 5px 15px 5px 10px; */
    box-shadow: 0 0 5px 0;
    display: none;/*Transition constrol of appearance*/
    opacity: 0;
    animation: load 0.4s forwards;
}

.can.show {
    /*Transition constrol of appearance of canada flag*/

    display: block;
    position: fixed;
    left: 90%;
    top: 9%;
    z-index: 3;
} 
.can-flag {
    padding-right: 10px;
}
.can-word {
    border: none;
    outline: none;
    padding: 5px 15px 5px 10px;
}
.can-word:hover {
    color: #ffffff;
    background-color: #1e1130;
}

.log-in {
    float: right;
    position: relative;
    left: 30px;
}
.country-option {
    float: right;
    position: relative;
    left: 40px;
}
.arrow-dropdown {
    float: right;
    position: relative;
    margin-left: 20px;
}
.jack-flag {
    float: right;
    position: relative;
    left: 60px;
}
.jack-flag, .arrow-dropdown, .country-option {
    cursor: pointer;
}

/*drop-navi*/
.drop-navi {
    height: 80px;
    position: sticky;
    width: 100%;
    background-color: #ffffff;
    top: 52px;
    z-index: 0;
    display: block;
    opacity: 0;
    animation: load 1s forwards;
}
.hide-navi {
    display: none;
}

.show-casepicture {
    position: relative;
    z-index: -3;
    /* margin-top: 5%; */
    height: 100vh;
    background-image: url(../img/homefinal.jpg);
}

li.hamburger {
    display: none;
    opacity: 0;
    animation: load 1s forwards;
}
li.hamburger.show-ham {
    display: inline-flex;
}
@keyframes load {
    100%{
        opacity: 1;
        
    }
}

 .drop-navi.see {
    display: block;
}
.drop-navi ul {
    display: flex;
    float: right;
    list-style: none;
    font-size: 1.3em;
    position: relative;
    right: 3% ;
    z-index: -1;
}
.drop-navi li {
    padding-left: 90px;
    padding-top: 25px;
}
/*drop-navi end*/

/*input of find property */

.area-prop, .submit-prop {
    padding: 10px;
}

.submit-prop {
    background-color: #1e1130 ;
    color: #ffffff;
}

/*input of find property end */


/*Hamburger menue - test build*/

#toggle {
    visibility: hidden;
}
label.navi-toggle {
    width: 17px;
    height: 2.1px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 6px;
}

label.navi-toggle::after {
    content: "";
    width: 17px;
    height: 2.1px;
    background-color: #ffffff;
    display: block;
    left: 0;
    margin-top: 11px; 
    cursor: pointer;

    transform-origin: left bottom; /* 2. */
    transform:rotateZ(0deg);/* 3. */

    transition: all 0.6s var(--animation-curve)  ;
}
label.navi-toggle::before {
    content: "";
    width: 17px;
    height: 2.1px;
    background-color: #ffffff;
    display: block;
    left: 0;
    margin-top: -6px;
    cursor: pointer;

    transform-origin: left top; /* 2. */
    transform:rotateZ(0deg); /* 3. */

    transition: all 0.6s var(--animation-curve); 
} 

#toggle:checked ~ label.navi-toggle::before { 
    /* background-color: #ff0000; */
    /* transform: rotateZ(41deg); */
    transform: rotateZ(51deg); /* 1. How to create rotation of an element to a degree in order to make the animation of the hamburger turn into to an X close btn.*/
} 

/* (~) selects the siblings of the element - thus once the checkbox is checked its sibiling element which is the label will change according to what css style you choose*/

#toggle:checked ~ label.navi-toggle::after {
    /* background-color: #ff0000; */
    transform: rotateZ(-51deg); /* 1. */
}
#toggle:checked ~ label.navi-toggle {
    background-color: #1e1130;
    /*the initial psuedo element changes to background color, essentially is hidden, when toggle is checked thus allowing before and after pseudo elements to rotate and create X btn*/
}
#toggle ~ label.navi-toggle {
    transition: all 0.5s var(--animation-curve)  ;
} /*Here we make the initial lable animation disapear faster (0.5s instead of 0.6s) than its pseudo elements*/
 
/*
Hamburger menue - test build - end */

/*panels start*/
.tab-panel {
    display: none;
    width: 100%;
    height: 50vh;
    position: relative;
    top: 100%;
    background-color: #d3d3d3;
    z-index: -1;
}
.tab-panel:nth-child(odd) {
    background-color: #808080;
}

.tab-panel.active.see-panel {
    display: block;
}

.panel-sections {
    background-color: #ffffff;
    border-right: solid 1px black;
}
a.tab-control {
    text-decoration: none;
    color: #000000;
}
/*panels end*/

/*Heading  */

.heading-home {
    display: flex;
    align-items: left;
    justify-content: start;
    position: relative;
    top: 20%;
    font-size: 5em;
    color: #ffffff;
    z-index: -3;
}
.scroll-text {
    padding: 20px;
    margin-top: 5%;
    z-index: -3;
    margin-bottom: 40%; /*temp for scrolling purposes*/
    /* position: relative;
    bottom: 70px; */
}

.second-head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5em;
}
.content {
    /* margin-left: 5%; */
    margin: 10% 0 0 5%;
    font-size: 2em;
    
}
/*////////////////////////////////*/

.collection-item {
    display: none;
}

#gallery {
    margin-top: 5px;
}

#gallery img {
    width: 308px;
    height: 150px;
    position: relative;
    left: 10px;
    z-index: -1;
}



.properties {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
}


@media (max-width: 1037px) {
    .top-nav, .can, .drop-navi  {
        display: none;
    }
    .log-in, .jack-flag, .country-option, .arrow-dropdown {
        position: relative;
        left: 10px;
    }
    .can {
        position: relative;
        /* left: 10em;  when toggle box disapears*/
        
    }

}
@media (max-width: 1150px) {
    .top-nav-content li {
        padding: 15px 10px 15px 20px;
        font-size: 0.8em;
    }
    .log-in, .jack-flag, .country-option {
        position: relative;
        left: 10px;
    }
    .arrow-dropdown {
        position: relative;
        left: 0;
    }
    .can {
        position: relative;
        /* left: 10em;  when toggle box disapears*/
    }
    
}


