/* Global*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

/* Top navigation bar*/

.top-nav-content li {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    
    /* padding-right: 30px ; */
    padding: 15px 10px 15px 40px;
    color: #ffffff;
    font-size: 0.8em;
}


.top-nav {
    background-color: #1e1130;
    
}

.log-in {
    float: right;
    position: relative;
    left: 30px
}
.country-option {
    float: right;
    position: relative;
    left: 30px
}
.arrow-dropdown {
    float: right;
}


.jack-flag {
    float: right;
    position: relative;
    left: 60px;
    
}

.CAN {
    float: right;
    position: relative;
    left: 15.1em;
    font-size: 0.8em;
    padding: 5px 15px 5px 10px;
    box-shadow: 0 0 5px 0;
    
}

.can-flag {
    padding-right: 10px;
}



@media (max-width: 1120px) {
    .top-nav {
        display: none;
    }
    /* Note: the padding and font-size changes in original website - see and adapt */
}
